[Unit]
Description=Aldebaran HAL
After=syslog.target
Before=naoqi.service

[Service]
Type=notify
LimitRTPRIO=36
Restart=on-failure
ExecStartPre=/opt/aldebaran/libexec/firmware/firmware-update.sh
ExecStart=/opt/aldebaran/bin/hal --qi-log-context=30
TimeoutStartSec=900
EnvironmentFile=/etc/conf.d/naoqi
Slice=naoqi.slice

[Install]
WantedBy=default.target
