[Unit]
Description=Mount /opt/aldebaran through a script
Conflicts=naoqi.service hal.service umount_deploys.service

[Service]
Type=oneshot

ExecStart=/usr/bin/sudo /usr/libexec/mount_overlay_deploys.sh mount
Slice=naoqi.slice

