[Unit]
Description=Aldebaran NAOqi
Wants=data.mount qimessaging-json.service dbus.service dev-video0.device dev-video1.device pulseaudio.service
Requires=hal.service
After=data.mount hal.service qimessaging-json.service dbus.service dev-video0.device dev-video1.device pulseaudio.service


[Service]
KillMode=mixed
TimeoutStopSec=5
EnvironmentFile=/etc/conf.d/naoqi
#User=nao
Restart=on-failure
CPUAccounting=true
CPUShares=8192
LimitRTPRIO=35
ExecStart=/opt/aldebaran/bin/naoqi-bin
ExecStartPre=/bin/mkdir -p ${QI_SERVICEMANAGER_LOGGING_PATH}
Slice=naoqi.slice
RuntimeDirectory=naoqi
WorkingDirectory=%t/naoqi

[Install]
WantedBy=multi-user.target
