[Unit]
Description=QiMessaging Json
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/conf.d/naoqi
ExecStart=/opt/aldebaran/bin/qimessaging-json
EnvironmentFile=/etc/conf.d/naoqi
Slice=naoqi.slice

[Install]
WantedBy=multi-user.target
