[Unit]
Description=create ramdisk
DefaultDependencies=false
RefuseManualStart=true
After=data-repair.service
Wants=data-repair.service
Requires=tmp.mount

[Service]
Type=oneshot
ExecStart=/usr/libexec/aldebaran/checksd.sh --recover
TimeoutSec=600
