[Unit]
Description=data-skeleton prepares /data
DefaultDependencies=false
After=data-recover.service
Requires=data-recover.service

[Service]
Type=oneshot
ExecStart=/bin/mkdir -p /data/etc /data/.work-etc /data/home/nao /data/.image /data/var/lib /data/var/lib/minidump /data/.work-var-lib /data/var/cache /data/.work-opt-aldebaran
ExecStart=/usr/bin/find /data/.work-etc/ /data/.work-var-lib/ /data/.work-opt-aldebaran/ -mindepth 1 -delete
ExecStart=/bin/sh -c "if [ ! -e /data/etc/machine-id ] ; then dbus-uuidgen > /data/etc/machine-id ; fi"
ExecStartPost=/bin/chown nao:nao /data/home/nao /data/.image /data/var/lib/minidump
