[Unit]
Description=mount /data/etc on /etc (overlay)
DefaultDependencies=false
Before=local-fs.target
After=data.target
Requires=data.target
Conflicts=umount.target

[Mount]
What=overlay
Where=/etc
Type=overlay
Options=lowerdir=/etc,upperdir=/data/etc,workdir=/data/.work-etc
