[Unit]
SourcePath=/etc/fstab
DefaultDependencies=no
Before=local-fs.target

[Mount]
What=/dev/disk/by-uuid/66666666-6666-6666-6666-666666666666
Where=/media/internal
Type=ext4
Options=rw,relatime,data=ordered,noexec,nosuid,nodev
