[Unit]
Description=Make sure /media/internal is owned by user nao
DefaultDependencies=false
After=media-internal.mount
Requires=media-internal.mount

[Service]
Type=oneshot
Environment="NOTIF_DIR=/media/internal/notification"
ExecStart=/bin/chown nao:nao /media/internal
ExecStartPost=/bin/mkdir -m 0755 -p ${NOTIF_DIR}
ExecStartPost=/bin/chown -R nao:nao ${NOTIF_DIR}
