[Unit]
Description=nginx HTTP server
After=syslog.target network.target usr.mount etc.mount

[Service]
Type=forking
PIDFile=/run/nginx/nginx.pid
ExecStartPre=/bin/mkdir -p /var/lib/nginx/tmp
ExecStartPre=/bin/mkdir -p /var/log/nginx
ExecStart=/usr/sbin/nginx -c /etc/nginx/nginx.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
