[Unit]
Description=reports a notification to naoqi.
DefaultDependencies=no
After=media-internal.target
Wants=media-internal.target

[Service]
Type=oneshot
User=nao
Group=nao
Environment="NOTIF_FILE=/media/internal/notification/notifications"
ExecStart=/bin/sh -c 'printf "%%s;" "%i" >> ${NOTIF_FILE}'